<!DOCTYPE html>
<html>
  <head>
    <title>Chatapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    <%= ".msg-#{current_user&.id}" %> {
    background-color: #007bff !important;
    padding: 10px;
    }
    <%= ".cont-#{current_user&.id}" %> {
    display: flex;
    justify-content: flex-end
    }
  </style>
  </head>

  <body>
  <% if user_signed_in? %>
  Signed in as <%= current_user.email %>. This cannot be cheese?
  <%= link_to 'Sign out', destroy_user_session_path %>
<% else %>
  <%= link_to 'Sign_up', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %>
<% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
